/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin: 10px 0;
}

h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  font-weight: 300;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 10px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Navbar */

.hero .navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0 20px;
  letter-spacing: 4px;
}

.logo {
  letter-spacing: 4px;
}

/* Showcase */

.showcase {
  background: url('../img/showcase.jpeg') no-repeat center center/cover;
  height: 600px;
}

.showcase .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
}

.showcase .content .showcase-text {
  background-color: #333;
  padding: 5px 20px;
  margin: 0 10px;
  opacity: 0.9;
}

/* Projects */

.projects {
  padding: 50px 0;
}

/* Contact Form */

.contact {
  padding: 40px 0 10px;
}

.contact-form .form-control {
  margin-bottom: 15px;
}

.contact-form .form-control input {
  width: 100%;
  padding: 4px 0;
  height: 40px;
  border: 1px solid #ddd;
  background: transparent;
  text-indent: 8px;
  font-size: 15px;
}

.form-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

footer span {
  text-decoration: underline;
}
